.Button {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 120px;
  height: 45px;
  border: 1px solid #333;
  background-color: #fff;
  text-decoration: none;
  outline: none;
}